

/*			@font-face {
    			font-family: 'OstrichSansMedium';
    			src: url('type/ostrich-regular-webfont.eot');
    			src: url('type/ostrich-regular-webfont.eot?#iefix') format('embedded-opentype'),
         			
         			url('type/ostrich-regular-webfont.ttf') format('truetype'),
         			url('type/ostrich-regular-webfont.svg#OstrichSansMedium') format('svg');
    			font-weight: normal;
    			font-style: normal;

			}
                        
            @font-face {
    			font-family: 'OstrichSansBold';
    			src: url('type/ostrich-bold-webfont.eot');
    			src: url('type/ostrich-bold-webfont.eot?#iefix') format('embedded-opentype'),
         			
         			url('type/ostrich-bold-webfont.ttf') format('truetype'),
         			url('type/ostrich-bold-webfont.svg#OstrichSansBold') format('svg');
    			font-weight: normal;
    			font-style: normal;

			}
                        
            @font-face {
    			font-family: 'OstrichSansBlack';
    			src: url('type/ostrich-black-webfont.eot');
    			src: url('type/ostrich-black-webfont.eot?#iefix') format('embedded-opentype'),
         			
         			url('type/ostrich-black-webfont.ttf') format('truetype'),
         			url('type/ostrich-black-webfont.svg#OstrichSansBold') format('svg');
    			font-weight: normal;
    			font-style: normal;

			}
                        
                        @font-face {
                        font-family: 'QuattrocentoRomanRegular';
                        src: url('type/Quattrocento-Regular-webfont.eot');
                        src: url('type/Quattrocento-Regular-webfont.eot?#iefix') format('embedded-opentype'),
                             url('type/Quattrocento-Regular-webfont.woff') format('woff'),
                             url('type/Quattrocento-Regular-webfont.ttf') format('truetype'),
                             url('type/Quattrocento-Regular-webfont.svg#QuattrocentoRomanRegular') format('svg');
                        font-weight: normal;
                        font-style: normal;
                    
                    }*/